
<ion-content>
  <div class="main_content_div">

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">

      <app-alert></app-alert>

      <ion-item>
        <ion-label position="floating">{{ 'filed.userName' | translate }}</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'filed.email' | translate }}</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'filed.phone' | translate }}</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'filed.firstName' | translate }}</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'filed.lastName' | translate }}</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'filed.gender' | translate }}</ion-label>
        <ion-select interface="action-sheet" class="custom-options">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'filed.title' | translate }}</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'filed.bio' | translate }}</ion-label>
        <ion-input formControlName="bio"></ion-input>
      </ion-item>

    </form>

  </div>
</ion-content>
