

<ion-content>
  <div class="main_content_div">

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">

      <app-alert></app-alert>

      <ion-item>
        <ion-label position="floating">{{ 'filed.password' | translate }}</ion-label>
        <ion-input   formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'filed.passwordConfirm' | translate }}</ion-label>
        <ion-input formControlName="passConfirm"></ion-input>
      </ion-item>

    </form>

  </div>
</ion-content>
