<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="goBack()" fill="clear" slot="start">
      <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">

    <ion-label class="welcome_lbl">{{ 'auth.signUp' | translate }}</ion-label>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="fromGroup">
        <app-alert></app-alert>

      <ion-item>
        <ion-label position="floating">{{ 'filed.userName' | translate }}</ion-label>
        <ion-input formControlName="username"
                   required
                   type="text"
                   [ngClass]="{ 'is-invalid': fromGroup.controls.username.invalid && fromGroup.controls.username.touched }"

        ></ion-input>
      </ion-item>

      <div class="validator-error"
           *ngIf=" !submitted &&fromGroup.controls.username.dirty ||fromGroup.controls.username.touched">
           <span class="ion-invalid-message" *ngIf="fromGroup.controls.username.errors">
      {{ 'common.required' | translate }}
         </span>
      </div>

      <ion-item>
        <ion-label position="floating">{{ 'filed.emailPhone' | translate }}</ion-label>
        <ion-input formControlName="login"
                   required
                   type="text"
                   [ngClass]="{ 'is-invalid': fromGroup.controls.login.invalid && fromGroup.controls.login.touched }"

        ></ion-input>
      </ion-item>
      <div class="validator-error"
           *ngIf=" !submitted &&fromGroup.controls.login.dirty ||fromGroup.controls.login.touched">
           <span class="ion-invalid-message" *ngIf="fromGroup.controls.login.errors">
      {{ 'common.required' | translate }}
         </span>
      </div>


      <ion-item>
        <ion-label position="floating">{{ 'filed.password' | translate }}</ion-label>
        <ion-input formControlName="password" required></ion-input>
      </ion-item>
      <div class="validator-error"
           *ngIf=" !submitted &&fromGroup.controls.password.dirty ||fromGroup.controls.password.touched">
           <span class="ion-invalid-message" *ngIf="fromGroup.controls.password.errors">
      {{ 'common.required' | translate }}
         </span>
      </div>


      <ion-item>
        <ion-label position="floating">{{ 'filed.passwordConfirm' | translate }}</ion-label>
        <ion-input formControlName="passConfirm" required></ion-input>
      </ion-item>
      <div class="validator-error"
           *ngIf=" !submitted &&fromGroup.controls.passConfirm.dirty ||fromGroup.controls.passConfirm.touched">
           <span class="ion-invalid-message" *ngIf="fromGroup.controls.passConfirm.errors?.required">
      {{ 'common.required' | translate }}
         </span>

        <span class="ion-invalid-message" *ngIf="fromGroup.controls.passConfirm.errors?.mustMatch">
      {{ 'common.notEqual' | translate }}
         </span>
      </div>

      <div class="flex_div">
        <div class="check_flex">
          <ion-checkbox></ion-checkbox>
          <ion-label>{{ 'auth.rememberMe' | translate }}</ion-label>
        </div>
      </div>

      <ion-button type="submit" shape="round" expand="block" (click)="onSubmit()">
        {{ 'auth.signUp' | translate }}
      </ion-button>
      <div class="or_div">
        <div></div>
        <ion-label>OR</ion-label>
        <div></div>
      </div>

      <ion-row>
        <ion-col size="4">
          <ion-button    >
            <ion-icon name="logo-chrome"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button >
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button  >
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


    </form>


  </div>
</ion-content>



