.main_content_div {
  padding: 16px;
  padding-top: 60px;
  min-height: 100%;

  ion-label {
    display: block;
  }

  .welcome_lbl {
    text-align: center;
    font-size: 26px;
    font-family: 'semi-bold';
    margin-bottom: 30px;
  }

  ion-item {
    --padding-start: 0px;
    margin-top: 16px;
  }

  ion-button {

    margin-top: 30px;
  }
}
